/* Custom styles for carousel controls */

.custom-icon {
  background-color: #007bff;
  border-radius: 50%;
  padding: 30px;
  gap:100px;
  color: white;
}

.custom-icon:hover {
  background-color: #0056b3;
}

.carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

.carousel-indicators li {
  background-color: #ccc;
  width: 30px;
  height: 10px;
  margin: 0 4px;
}

.carousel-indicators .active {
  background-color: #007bff;
}
