<div class="container mt-5">
  <div class="row justify-content-center text-center">
    <div class="col">
      <div class="card shadow narrow-card">
        <div class="card-body">
          <h5 class="card-title">Current Date</h5>
          <p class="card-text font-weight-bold">{{ currentDate | date }}</p>

          <h5 class="card-title">Location (Uppercase)</h5>
          <p class="card-text">{{ location | uppercase }}</p>

          <h5 class="card-title">Temperature (Normal)</h5>
          <p class="card-text">{{ temperature }}</p>

          <h5 class="card-title">Temperature (Formatted)</h5>
          <p class="card-text">{{ temperature | number : "1.1-1" }}</p>

          <h5 class="card-title">Message (Lowercase)</h5>
          <p class="card-text">{{ message | lowercase }}</p>

          <h5 class="card-title">Amount (Formatted)</h5>
          <p class="card-text">{{ amount | number : "2.2-2" }}</p>

          <h5 class="card-title">Original Price</h5>
          <p class="card-text">{{ price | currency }}</p>

          <h5 class="card-title">Discounted Price</h5>
          <p *ngIf="discountApplied" class="card-text">
            {{ discountedPrice | currency }}
          </p>

          <h5 class="card-title">Discount Amount</h5>
          <p class="card-text">
            {{
              isDiscounted
                ? (price - calculateDiscountedPrice(price) | currency)
                : "0"
            }}
          </p>

          <button
            (click)="toggleDiscount()"
            [disabled]="discountApplied"
            class="btn btn-primary mt-4"
          >
            {{ discountApplied ? "Discount Applied" : "Toggle Discount" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
