
.btn:hover {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  

  .container:hover .border {
    border-color: #007bff;
    transition: border-color 0.3s ease;
  }
  