<div
  class="container-fluid d-flex justify-content-center align-items-center mt-3"
>
  <div class="col-md-4 text-center p-5 border rounded shadow-lg">
    <div style="font-size: 21px">Current Date:</div>
    <p class="font-weight-bold" style="font-size: 24px">
      {{ currentDate | date }}
    </p>

    <div style="font-size: 21px">Location (Uppercase):</div>
    <p style="font-size: 20px">{{ location | uppercase }}</p>

    <div style="font-size: 21px">Temperature (Normal):</div>
    <p style="font-size: 20px">{{ temperature }}</p>

    <div style="font-size: 21px">Temperature (Formatted):</div>
    <p style="font-size: 20px">{{ temperature | number : "1.1-1" }}</p>

    <div style="font-size: 21px">Message (Lowercase):</div>
    <p style="font-size: 20px">{{ message | lowercase }}</p>

    <div style="font-size: 21px">Amount (Formatted):</div>
    <p style="font-size: 20px">{{ amount | number : "2.2-2" }}</p>

    <div style="font-size: 21px">Original Price :</div>
    <p style="font-size: 20px">{{ price | currency }}</p>

    <div style="font-size: 21px">Discounted Price :</div>
    <p *ngIf="discountApplied" style="font-size: 20px">
      {{ discountedPrice | currency }}
    </p>

    <div style="font-size: 21px">Discount Amount:</div>
    <p style="font-size: 20px">
      {{
        (isDiscounted ? price - calculateDiscountedPrice(price) : 0) | currency
      }}
    </p>

    <button
      (click)="toggleDiscount()"
      [disabled]="discountApplied"
      class="btn btn-primary mt-4"
      style="font-size: 21px"
    >
      {{ discountApplied ? "Discount Applied" : "Toggle Discount" }}
    </button>
  </div>
</div>
