
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Practice</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/adarsh">Swapper Component</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/switch">Switch Component</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/layout">Colored Block Component</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/highlight">List Highlight</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/clist">Composition Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/c1list">Customers List Demo</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/form">Form Demo</a>
        </li>
        
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/adarsh">Adarsh Component</a>
                  <a class="dropdown-item" routerLink="/switch">Switch Component</a>
                  <a class="dropdown-item" routerLink="/layout">Colored Block Component</a>
                  <a class="dropdown-item" routerLink="/highlight">Class Highlight Component</a>
                  <a class="dropdown-item" routerLink="/clist">Customer List Demo</a>
                  <!-- Add more dropdown items here -->
              </div>
          </li>
      </ul>
  </div>
</nav>


<!-- Your router outlet (content) goes here -->
<router-outlet></router-outlet>