.song-container {
  display: flex;
  flex-direction: column;
}

.song-container div {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.song-container div.selected {
  word-wrap: normal;
  color: #ffffff;
  background-color: #ff0000;
}

.song-details {
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

@media (max-width: 290px) {
  h2 {
    font-size: 14px;
  }

  .song-container div {
    padding: 5px;
    margin: 5px;
  }

  .song-container div.selected {
    word-wrap: break-word;
    width: 50px;
    height: auto;
    color: #ffffff;
    background-color: #ff0000;
  }
  .song-details {
    padding: 10px;
    word-wrap: break-word;
    margin-left: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }

  .mt-4 {
    font-size: 80%;
  }
}
