/* Regular Mode */
.taylor-list:hover {
  color: #333;
  cursor: pointer;
  background-color: #50c878;
}

.navbar-brand {
  color: black;
}

.names {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.navdemo {
  background-color: white;
  color: black;
}
.navbar {
  color: white;
}
.navbar:hover {
  color: white;
}

/* Dark Mode */
body.dark-mode {
  color: white;
  background-color: #333;
}

body.dark-mode .taylor-list {
  color: white;
  background-color: #333;
}

body.dark-mode .taylor-list:hover {
  cursor: pointer;
  background-color: #50c878;
}

body.dark-mode .navbar-brand {
  color: white;
}

body.dark-mode .mainjoke {
  color: white;
  background-color: #333;
}
body.dark-mode .navdemo {
  background-color: #333;
}

body.dark-mode .navdemo1:hover {
  background-color: red;
}

body.dark-mode .main {
  color: #333;
  background-color: #333;
}

body.dark-mode .taylor-all {
  color: white;
  background-color: #333;
}

body.dark-mode .searcher {
  color: white;
  background-color: #333;
}

body.dark-mode .names {
  color: black;
}

body.dark-mode .cus {
  color: white;
}

body.dark-mode .createjoke {
  color: white;
  background-color: #333;
}

body.dark-mode .sjoke {
  background-color: #333;
}

body.dark-mode .customerList {
  color: black;
  background-color: #333;
}

body.dark-mode .custname {
  color: white;
}

body.dark-mode .animals {
  color: black;
}

body.dark-mode .navbar-toggler {
  color: black;
  background-color: white;
}
