* {
  -webkit-user-select: none; /* Safari and other webkit browsers */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.taylor-list:hover {
  color: #333;
  cursor: pointer;
  background-color: #50c878;
}

body .customer{
  color:white;
}

body.dark-mode h2.cus {
  color: black;
}
.names {
  color: white;
  font-size: 20px;
}

/* Dark Mode */
body.dark-mode {
  color: white;
  background-color: #333;
}

body.dark-mode .taylor-list {
  color: white;
  background-color: #333;
}

body.dark-mode .taylor-list:hover {
  cursor: pointer;
  background-color: #50c878;
}

body.dark-mode .navbar-brand {
  color: white;
}

body.dark-mode .mainjoke {
  color: white;
  background-color: #333;
}
body.dark-mode .navdemo {
  background-color: #333;
}

body.dark-mode .navdemo1:hover {
  background-color: red;
}

body.dark-mode .main {
  color: #333;
  background-color: #333;
}

body.dark-mode .taylor-all {
  color: white;
  background-color: #333;
}

body.dark-mode .searcher {
  color: white;
  background-color: #333;
}

body.dark-mode .names {
  color: black;
}

body.dark-mode .cus {
  color: white;
}

body.dark-mode .createjoke {
  color: white;
  background-color: #333;
}

body.dark-mode .sjoke {
  background-color: #333;
}

body.dark-mode .customerList {
  background-color: #fefbd8;
}

body.dark-mode .custname {
  color: black;
}
body.dark-mode .customer {
  color:white;
  background-color: #80ced6;
}

body.dark-mode .animals {
  color: black;
}

body.dark-mode .navbar-toggler {
  color: black;
  background-color: white;
}

body.dark-mode .weathertitle {
  color: black;
}

.large-navbar {
  font-size: 20px;
  font-weight: 400;
}
.large-navbar li.nav-item a.nav-link {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    text-decoration 0.3s ease-in-out;
}

.large-navbar li.nav-item a.nav-link:hover {
  color: green;
  text-decoration: underline;
  font-weight: bold;
}

@font-face {
  font-family: "Tinos";
  src: url(./assets/Tinos-Regular.ttf);
}

body {
  font-family: "Tinos";
  font-size: 20px;
}

body.dark-mode .nav-item .nav-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

body.dark-mode .nav-item:hover .nav-link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* Dark Mode for Description */
body.dark-mode .song-details {
  color: white;
  background-color: #333;
}

body.dark-mode .song-details h2 {
  color: white;
}

body.dark-mode .song-details p {
  color: white;
}
