.container {
  margin-top: 240px;
}

.customer-list {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

